body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}
h1 {
    color: #028108;
}
.data-container {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button {
    background-color: #028108;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: #1b4f35;
}
.data-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.botaotermo{
    margin-left: 600px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.label {
    display: block;
    font-weight: bold;
    color: #028108;
    margin-bottom: 5px;
}
.search {
    margin-bottom: 20px;
}
.search input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 308px;
    
}
.search button {
    padding: 6px 12px;
    background-color: #028108;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search button:hover {
    background-color: #028108;
}

.search1 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search1 input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 308px;
    
}
.search1 button {
    padding: 6px 12px;
    background-color: #028108;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
    height: 40px;
}
.search1 button:hover {
    background-color: #028108;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7px;
}
.logo2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 3px;
}
.logo3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7px;
}
.superior{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: auto;

}
.superior1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;

}
.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}
.botaonet button{
    padding: 6px 12px;
    background-color: #028108;
    color: white;
    border: none;
    border-radius: 4px;
    width: 1200px;
    height: 70px;
    font-size: large;
   
}

.botaonet {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario{
    color: #028108;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

@media (max-width: 480px){
    .botaonet button{
        width: 300px;
    }
    .superior{
        font-size: 9px;
       
    }
}